body{
  margin: 0;
  text-align: center;
  font-family:"merriweather",fantasy;
  color: #40514E;
}


h1{
  color:  #66BFBF;
  font-size: 90px;
  margin:50px auto 0 auto; 
  font-family: "sacramento" ,cursive;
}
h2{
  line-height: 2;
  font-weight: normal;
  color:  #66BFBF;
  font-size: 2.5rem;
  font-family: 'montserrat',sans-serif;
}
h3{
  color: #11999E;
  font-family: "helvetica",fantasy;
}
.top-container{
  position: relative;
  background-color: #E4F9F5; 
  padding-top: 100px;  
}
.middle-container{
  position:relative;
}
.profile{
  margin-top: 0%;
 
} 
  .cloud1{
    position: relative;
    left: 300px;   
}
.cloud2{
  position: relative;
  left: 300px;
  bottom: 300px; 
}

.middle-container {
  margin: auto;
  padding: 40px;
}
.bottom-container{
  width: auto;
  height: 150px;
  margin-top: 30px;
  background-color: #66BFBF;
}
.bottom-container ul li {
  display: inline-block;
  margin: 10px 20px;
  list-style: none;


}

.bottom-container ul li a {
  text-decoration: none;
}
a{
  color:#11999E;
}  
.skill-row{
  width: 50%;
  margin:  100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.designer{
  margin-right:30px;
  float: right;
  width: 25%;
  border-radius: 100%;
  border: 5px solid #ff675b;
}
.programmer{
  margin-right:30px;
  float: left;
  width: 25%;
  border-radius: 100%;
  border: 5px solid #ff675b;
}
.btn {
  position: relative;
  top:50px;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.footer-link{
  position: relative;
  line-height: 2;
  margin-top: 30px;
  color:#11999E;
  top: 25px;

}
.copy{
  position: relative;
  color:#EAF6F6;
  top: 30px;
  font-size: 0.75rem;
}
.contact-me{
  width: auto;
  height: 320px;
  
}
hr{
  border-top: 5px dotted gray;
  width: 5%;
  margin: 50px auto ;
  
}
